.toast {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    width: 500px;
    max-width: 100%;
    opacity: 0;
    transform: translateY(75%, 0);
    pointer-events: none;
    -webkit-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.toast.displayed {
    opacity: 1;
    transform: translate(0, 0);
}

.toast>.body {
    position: relative;
    margin: 1em 1em 1em 1em;
    padding-left: .3em;
    padding-right: .3em;
    word-wrap: break-word;
    border-radius: 3px;
    background: rgba(42, 128, 255, 0.95);
    pointer-events: all;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.toast-message {
  color: white;
  display: inline-block;
  width: 75%;
  font-size: 1.4rem;
  padding-left:5%;

}

.toast-icon-holder {
  display: inline-block;
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.toast-icon {
  margin: 0 auto;
  fill: white;
  width: 100%;
  height: 75px;
  vertical-align: middle;
}

.modal-overlay {

    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, .5);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal-wrapper {
    margin-top: 0px; 
    opacity: 1;
    /* position: fixed; */

    font-weight: 400;
    /* position:relative; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-message {
  color: white;
  margin-top: 1em;
  font-size: 1.6rem;
}
.modal-icon-holder {
  display: inline-block;
  width: 30%;
  margin:5%;
}

.modal {
  text-align:center;
  padding: 0 0 30px 0;
  background: white;
}

body > div.modal-wrapper.animated.zoomIn.displayed > div > div > form > fieldset > input[type="text"] {
    color:black;
}
.modal-no-scroll {
    position: relative;
    overflow: hidden;
}

.modal .body {
    display:inline-block;
    width: 90vw;
    height: 30vh;
    max-width: 400px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    
}


.modal .body .title {
    font-size: 30px;
}

.modal .body .text {
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px;
}

.modal .button-wrapper {
    text-align: center;
    margin: 30px 0 20px 0;
}

.modal .button {
    display: inline-block;
    line-height: 18px;
    padding: 8px 10px;
    margin: 0 15px;
    line-height: 18px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px rgba(220, 220, 220, 0.8);
    color: #555;
    transition: all ease .2s;
}

.modal .button:hover {
    background: #f5f5f5;
    cursor: pointer;
}


/* animations */


.animated {
  animation-duration: .35s;
  animation-fill-mode: both;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }