<form class="pure-form">

	<textarea id="input_form" rows="10" bind:value='text_input' required type="text" minlength="1" maxlength="{maxLength || 20}" placeholder="{placeholder}">
    </textarea>

    <button id="input_btn" type="submit" on:click="saveInput(text_input)" class='pure-button'>save</button>
    
</form>
  
<script>

    export default { 
     data() { 
       return { 
         text_input: ''
         } 
       },
     methods: {
      saveInput(val) {
        console.log('got save '+val)
      }
    }   
   }
</script>